pytest~=8.3.5

# Основные зависимости
requests~=2.32.3
SQLAlchemy~=2.0.41
psycopg2-binary  # Драйвер PostgreSQL для Python

# Инструменты для тестирования
pytest  # Фреймворк для тестирования
selenium~=4.33.0
webdriver-manager~=4.0.2
allure-pytest  # Плагин для интеграции Allure с pytest
faker  # Библиотека для генерации фейковых данных

# Линтеры и инструменты для анализа кода
flake8  # Линтер для проверки стиля кода
Student~=0.0.1
allure-python-commons~=2.14.2